Server:
  Address:
  Port:
  EnableWhiteList: false
  WhiteList:

HomeAssistant:
  HomeAssistantToken:
  BaseURL:

Devices:
  ip_rgb:
  key_rgb:
  devname_rgb:

  ip_desk:
  miio_token_desk:

  ip_decorate:
  key_decorate:
  devname_decorate:

  hassid_lights:
  hassid_climate:
  hassid_fan:

  wol_mac:
  wol_broadcast:
  wol_port: